<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
import numpy as np

import pandas as pd

import os

# Import libraries here.

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [2]:
# Create an output folder.

path = os.getcwd()

files = os.listdir('data')

path
# Create a files variable that contains all of our data files.

'/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness'

In [3]:

# define the name of the directory to be created
path += "/output"

try:
    os.mkdir(path)
except OSError:
    print ("Creation of the directory %s failed" % path)
else:
    print ("Successfully created the directory %s " % path)

Creation of the directory /Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/output failed

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [4]:
# Read in data from your city from January 1st.



jan31 = pd.read_excel("/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/data/Jan 31.xlsx")

jan31

     prodcode  price_eu  weight_kg  quantity
0        4796  2.227517   2.989481       165
1        4272  1.928273   9.851630       292
2        3302  2.749277   9.450368       193
3        4272  0.969789   8.684007       237
4        3302  1.538392   7.749836       473
..        ...       ...        ...       ...
111      3302  2.726643   6.501526       464
112      4272  1.510699   2.499395       363
113      4796  1.650135   4.734978       305
114      4796  0.587593   9.397789       460
115      4012  2.067722   7.905938       345

[116 rows x 4 columns]

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [5]:

jan31['price_usd'] = jan31['price_eu'] * 1.1
jan31['weight_lb'] = jan31['weight_kg'] * 2.2

jan31

jan31.drop(['price_eu', 'weight_kg'], axis = 1, inplace = True)

In [6]:
jan31

     prodcode  quantity  price_usd  weight_lb
0        4796       165   2.450269   6.576859
1        4272       292   2.121101  21.673585
2        3302       193   3.024204  20.790810
3        4272       237   1.066767  19.104816
4        3302       473   1.692231  17.049639
..        ...       ...        ...        ...
111      3302       464   2.999308  14.303357
112      4272       363   1.661769   5.498669
113      4796       305   1.815149  10.416952
114      4796       460   0.646353  20.675136
115      4012       345   2.274494  17.393064

[116 rows x 4 columns]

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [7]:
plu = pd.read_csv("plu-codes.csv")

jan1 = pd.read_excel("/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/data/Jan 1.xlsx")

jan1

     prodcode  price_eu  weight_kg  quantity
0        4159  2.048141   8.812961       138
1        4062  2.728485   9.331372       184
2        4404  2.182498   8.937798       491
3        4412  2.342694   7.067682       218
4        4131  1.802839   9.551503       391
..        ...       ...        ...       ...
124      4796  1.827676   7.922745       444
125      4225  2.463229   5.839095       258
126      4134  0.920152   9.225959       395
127      3302  1.510998   2.667668       168
128      4309  1.678941   3.539966       282

[129 rows x 4 columns]

In [8]:
plu

         product  plu_code
0   Apple (Fuji)      4131
1   Apple (Gala)      4134
2        Apricot      3302
3        Avocado      4225
4         Banana      4011
5    Blueberries      4240
6   Strawberries      4323
7           Corn      4078
8       Cucumber      4062
9       Eggplant      4081
10        Grapes      4272
11          Kiwi      4030
12         Lemon      4958
13        Lychee      4309
14      Mushroom      4650
15         Onion      4159
16        Orange      4012
17         Peach      4404
18          Pear      4412
19        Tomato      4796

In [9]:
price_match = pd.merge(left = jan1,
         right = plu,
         left_on = "prodcode",
         right_on = "plu_code")

price_match

     prodcode  price_eu  weight_kg  quantity       product  plu_code
0        4159  2.048141   8.812961       138         Onion      4159
1        4159  2.124963   1.906494       319         Onion      4159
2        4159  1.834220   7.788227       229         Onion      4159
3        4159  1.281120   4.506284       164         Onion      4159
4        4159  1.162582   8.225310       447         Onion      4159
..        ...       ...        ...       ...           ...       ...
124      4134  2.155794   4.796605       415  Apple (Gala)      4134
125      4134  0.920152   9.225959       395  Apple (Gala)      4134
126      4012  2.049983   2.323435       240        Orange      4012
127      4012  1.666332   1.934260       123        Orange      4012
128      4012  1.517081   1.303550       194        Orange      4012

[129 rows x 6 columns]

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [10]:
price_match.drop('plu_code', axis =1, inplace = True)

price_match

     prodcode  price_eu  weight_kg  quantity       product
0        4159  2.048141   8.812961       138         Onion
1        4159  2.124963   1.906494       319         Onion
2        4159  1.834220   7.788227       229         Onion
3        4159  1.281120   4.506284       164         Onion
4        4159  1.162582   8.225310       447         Onion
..        ...       ...        ...       ...           ...
124      4134  2.155794   4.796605       415  Apple (Gala)
125      4134  0.920152   9.225959       395  Apple (Gala)
126      4012  2.049983   2.323435       240        Orange
127      4012  1.666332   1.934260       123        Orange
128      4012  1.517081   1.303550       194        Orange

[129 rows x 5 columns]

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [11]:
price_match['Date'] = pd.to_datetime("Jan 1 2020")

price_match

     prodcode  price_eu  weight_kg  quantity       product       Date
0        4159  2.048141   8.812961       138         Onion 2020-01-01
1        4159  2.124963   1.906494       319         Onion 2020-01-01
2        4159  1.834220   7.788227       229         Onion 2020-01-01
3        4159  1.281120   4.506284       164         Onion 2020-01-01
4        4159  1.162582   8.225310       447         Onion 2020-01-01
..        ...       ...        ...       ...           ...        ...
124      4134  2.155794   4.796605       415  Apple (Gala) 2020-01-01
125      4134  0.920152   9.225959       395  Apple (Gala) 2020-01-01
126      4012  2.049983   2.323435       240        Orange 2020-01-01
127      4012  1.666332   1.934260       123        Orange 2020-01-01
128      4012  1.517081   1.303550       194        Orange 2020-01-01

[129 rows x 6 columns]

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [12]:
def process_data(file, city, date):

    df = pd.read_excel(file, sheet_name = city)
    
    df['price_usd'] = df['price_eu'] * 1.1
    df['weight_lb'] = df['weight_kg'] * 2.2
    
    df.drop(['price_eu', 'weight_kg'], axis = 1, inplace = True)
    
    plu = pd.read_csv("plu-codes.csv")
    
    df_merged = pd.merge(df, plu, left_on = "prodcode",
         right_on = "plu_code")
    
    df_merged.drop('plu_code', axis =1, inplace = True)
    
    df_merged['date'] = pd.to_datetime(date)
    
    
    
    
    

    return df_merged

Test your function out on a new file and city!

In [13]:
process_data("/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/data/Jan 1.xlsx", "Atlanta", "Jan 1 2020")

     prodcode  quantity  price_usd  weight_lb  product       date
0        4272       155   1.285202  10.184810   Grapes 2020-01-01
1        4272       203   1.450494  14.053250   Grapes 2020-01-01
2        4272       298   0.815706   2.644650   Grapes 2020-01-01
3        4272       236   1.634896  15.669850   Grapes 2020-01-01
4        4272       178   1.642055   2.804827   Grapes 2020-01-01
..        ...       ...        ...        ...      ...        ...
182      4225       409   1.320407  16.396081  Avocado 2020-01-01
183      4225       425   0.674674  16.653571  Avocado 2020-01-01
184      4225       308   0.660549   7.404371  Avocado 2020-01-01
185      4225       431   3.194478  15.353179  Avocado 2020-01-01
186      4225       447   2.602642   9.712274  Avocado 2020-01-01

[187 rows x 6 columns]

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [14]:
january_data = [process_data('/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/data/' 
                            + file, 'Atlanta', 'Jan 1 2020') for file in files]

[     prodcode  quantity  price_usd  weight_lb      product       date
 0        4011       346   1.943930   7.888168       Banana 2020-01-01
 1        4011       386   2.780611  19.532345       Banana 2020-01-01
 2        4011       224   0.827797  19.813340       Banana 2020-01-01
 3        4011       394   2.942939  15.360486       Banana 2020-01-01
 4        4011       200   1.051768  14.426368       Banana 2020-01-01
 ..        ...       ...        ...        ...          ...        ...
 187      4240       295   2.571191  13.221360  Blueberries 2020-01-01
 188      4240       415   1.680144  16.178499  Blueberries 2020-01-01
 189      4240       324   1.802399   8.295924  Blueberries 2020-01-01
 190      4240       208   1.671426  10.313359  Blueberries 2020-01-01
 191      4240       396   3.196661  17.230724  Blueberries 2020-01-01

 [192 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb product       date
 0        4159       322   0.793531  21.355104   Onion 2020-01-01
 1        4159       468   1.591642  16.391718   Onion 2020-01-01
 2        4159       493   3.268428   3.495767   Onion 2020-01-01
 3        4159       191   2.800418  13.803173   Onion 2020-01-01
 4        4159       471   1.324772   3.525219   Onion 2020-01-01
 ..        ...       ...        ...        ...     ...        ...
 107      4012       316   2.116238   3.838872  Orange 2020-01-01
 108      4412       495   2.828275  12.702501    Pear 2020-01-01
 109      4412       177   3.135707  17.839037    Pear 2020-01-01
 110      4412       302   1.747686  17.163853    Pear 2020-01-01
 111      4412       424   2.452529   4.375537    Pear 2020-01-01

 [112 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4404       150   3.052919  18.070498     Peach 2020-01-01
 1        4404       479   0.574417  10.447679     Peach 2020-01-01
 2        4404       425   1.084642   9.530098     Peach 2020-01-01
 3        4404       358   3.103897   6.134071     Peach 2020-01-01
 4        4404       255   2.851059  16.565151     Peach 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 138      4650       308   1.690949   3.587442  Mushroom 2020-01-01
 139      4650       352   2.454965   5.252403  Mushroom 2020-01-01
 140      4650       391   2.725928   8.852996  Mushroom 2020-01-01
 141      4081       365   1.067350  10.759887  Eggplant 2020-01-01
 142      4081       231   0.621268  14.628321  Eggplant 2020-01-01

 [143 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4078       189   2.628858  19.120886      Corn 2020-01-01
 1        4078       117   2.648888  19.819852      Corn 2020-01-01
 2        4078       486   2.920656  15.812516      Corn 2020-01-01
 3        4078       383   1.235253   7.646600      Corn 2020-01-01
 4        4078       285   1.212443   7.491386      Corn 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 107      4062       452   0.669413   6.943706  Cucumber 2020-01-01
 108      4062       445   1.690659  13.456160  Cucumber 2020-01-01
 109      4404       118   2.408504  10.705631     Peach 2020-01-01
 110      4404       477   1.514741   9.394513     Peach 2020-01-01
 111      4404       161   2.919621  18.903464     Peach 2020-01-01

 [112 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4131       243   2.462210   7.826725  Apple (Fuji) 2020-01-01
 1        4131       276   3.176875   7.385341  Apple (Fuji) 2020-01-01
 2        4131       324   1.049726  14.172255  Apple (Fuji) 2020-01-01
 3        4131       217   1.906558  19.601318  Apple (Fuji) 2020-01-01
 4        4131       439   0.821405  13.655141  Apple (Fuji) 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 103      4078       227   1.444346  12.485968          Corn 2020-01-01
 104      4078       497   1.136531  20.272411          Corn 2020-01-01
 105      4650       444   2.720109  20.993524      Mushroom 2020-01-01
 106      4650       140   2.096278  11.840151      Mushroom 2020-01-01
 107      4650       415   1.135584   5.005191      Mushroom 2020-01-01

 [108 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4412       422   2.452149  18.647096          Pear 2020-01-01
 1        4412       315   2.925930  13.504399          Pear 2020-01-01
 2        4412       322   1.671073   6.833013          Pear 2020-01-01
 3        4412       241   1.575312  12.977270          Pear 2020-01-01
 4        4412       210   3.222388  17.114457          Pear 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 181      4131       138   0.940835  17.021815  Apple (Fuji) 2020-01-01
 182      4131       317   1.270092  13.164108  Apple (Fuji) 2020-01-01
 183      4131       448   2.865824  13.640848  Apple (Fuji) 2020-01-01
 184      4131       373   2.106681  19.178458  Apple (Fuji) 2020-01-01
 185      4131       422   2.608766  10.677543  Apple (Fuji) 2020-01-01

 [186 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        3302       425   1.079279   4.375565       Apricot 2020-01-01
 1        3302       299   3.066393  20.286428       Apricot 2020-01-01
 2        3302       135   2.896861   2.887416       Apricot 2020-01-01
 3        3302       256   2.086319   2.532573       Apricot 2020-01-01
 4        3302       393   1.782001  13.874864       Apricot 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 137      4134       361   2.556515   5.057625  Apple (Gala) 2020-01-01
 138      4134       355   2.784544   2.770071  Apple (Gala) 2020-01-01
 139      4134       333   2.238597  17.600241  Apple (Gala) 2020-01-01
 140      4240       121   1.018600  18.433910   Blueberries 2020-01-01
 141      4240       496   2.545449  14.616488   Blueberries 2020-01-01

 [142 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4011       431   2.496443  13.391982        Banana 2020-01-01
 1        4011       298   3.057271   5.361445        Banana 2020-01-01
 2        4011       479   2.338220  18.693945        Banana 2020-01-01
 3        4011       287   3.048141  21.301439        Banana 2020-01-01
 4        4011       340   0.598292  12.757914        Banana 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 128      4081       430   0.622335  16.632030      Eggplant 2020-01-01
 129      4081       362   1.188127  21.384067      Eggplant 2020-01-01
 130      4323       106   2.916292   2.623174  Strawberries 2020-01-01
 131      4323       177   1.131085  13.800115  Strawberries 2020-01-01
 132      4323       125   1.474747  19.162742  Strawberries 2020-01-01

 [133 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4272       382   1.763022  13.468482    Grapes 2020-01-01
 1        4272       402   2.608721  17.202363    Grapes 2020-01-01
 2        4272       201   2.013164  15.618307    Grapes 2020-01-01
 3        4272       439   1.182001   4.923730    Grapes 2020-01-01
 4        4030       439   2.489004   8.331487      Kiwi 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 102      4309       258   3.256015  12.074653    Lychee 2020-01-01
 103      4081       209   2.334379  19.554445  Eggplant 2020-01-01
 104      4081       468   1.528183  16.034819  Eggplant 2020-01-01
 105      4078       171   2.849357   8.432160      Corn 2020-01-01
 106      4078       306   0.748622  21.722768      Corn 2020-01-01

 [107 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4134       243   1.290784   5.711328  Apple (Gala) 2020-01-01
 1        4134       279   2.635645  19.738606  Apple (Gala) 2020-01-01
 2        4134       221   1.976365   8.590687  Apple (Gala) 2020-01-01
 3        4134       164   1.170067  19.611797  Apple (Gala) 2020-01-01
 4        4134       422   2.955914  10.458970  Apple (Gala) 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 141      4650       416   2.610083   2.901073      Mushroom 2020-01-01
 142      4650       412   2.106070   2.993805      Mushroom 2020-01-01
 143      4650       187   0.622368  18.803571      Mushroom 2020-01-01
 144      4650       331   1.121965   3.056828      Mushroom 2020-01-01
 145      4650       455   1.703172  10.403271      Mushroom 2020-01-01

 [146 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb  product       date
 0        4272       155   1.285202  10.184810   Grapes 2020-01-01
 1        4272       203   1.450494  14.053250   Grapes 2020-01-01
 2        4272       298   0.815706   2.644650   Grapes 2020-01-01
 3        4272       236   1.634896  15.669850   Grapes 2020-01-01
 4        4272       178   1.642055   2.804827   Grapes 2020-01-01
 ..        ...       ...        ...        ...      ...        ...
 182      4225       409   1.320407  16.396081  Avocado 2020-01-01
 183      4225       425   0.674674  16.653571  Avocado 2020-01-01
 184      4225       308   0.660549   7.404371  Avocado 2020-01-01
 185      4225       431   3.194478  15.353179  Avocado 2020-01-01
 186      4225       447   2.602642   9.712274  Avocado 2020-01-01

 [187 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4323       348   0.954842   7.590007  Strawberries 2020-01-01
 1        4323       248   1.783796  20.574875  Strawberries 2020-01-01
 2        4323       192   0.810171  12.673141  Strawberries 2020-01-01
 3        4323       327   1.697990   6.597245  Strawberries 2020-01-01
 4        4323       316   2.764803  16.204674  Strawberries 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 170      3302       130   1.858579  16.220537       Apricot 2020-01-01
 171      3302       253   2.293992  20.777217       Apricot 2020-01-01
 172      3302       361   3.217391  12.377379       Apricot 2020-01-01
 173      3302       100   2.746186  19.422308       Apricot 2020-01-01
 174      3302       315   0.630680  15.303539       Apricot 2020-01-01

 [175 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product       date
 0        4240       178   2.341891   9.763652  Blueberries 2020-01-01
 1        4240       154   0.687728  20.288183  Blueberries 2020-01-01
 2        4240       118   0.832907  10.661676  Blueberries 2020-01-01
 3        4240       417   3.185522   8.520241  Blueberries 2020-01-01
 4        4240       338   1.795245   9.397698  Blueberries 2020-01-01
 ..        ...       ...        ...        ...          ...        ...
 169      4309       137   3.173956  12.384626       Lychee 2020-01-01
 170      4309       403   2.684931   8.037868       Lychee 2020-01-01
 171      4272       173   1.904946   2.534416       Grapes 2020-01-01
 172      4272       136   1.390359   7.492168       Grapes 2020-01-01
 173      4272       389   2.264866  16.276461       Grapes 2020-01-01

 [174 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4272       108   2.043654  17.536151        Grapes 2020-01-01
 1        4272       362   0.988644   5.500616        Grapes 2020-01-01
 2        4272       289   3.219077  10.978020        Grapes 2020-01-01
 3        4272       438   2.085662  18.359610        Grapes 2020-01-01
 4        4272       124   1.713792   5.905226        Grapes 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 182      4134       309   2.161649  18.764939  Apple (Gala) 2020-01-01
 183      4012       147   3.075324   7.370592        Orange 2020-01-01
 184      4012       401   1.212042   8.084668        Orange 2020-01-01
 185      4796       295   1.775724  19.670827        Tomato 2020-01-01
 186      4796       353   1.437894   4.163318        Tomato 2020-01-01

 [187 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4062       119   2.187403  14.608393  Cucumber 2020-01-01
 1        4062       401   0.820168  14.579243  Cucumber 2020-01-01
 2        4062       469   0.819438  13.731506  Cucumber 2020-01-01
 3        4062       104   2.628664   2.668402  Cucumber 2020-01-01
 4        4062       137   2.590178  16.419381  Cucumber 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 194      4030       192   1.725733   8.175955      Kiwi 2020-01-01
 195      4030       217   1.889184  10.785298      Kiwi 2020-01-01
 196      4030       446   2.593656  18.366998      Kiwi 2020-01-01
 197      4030       356   2.033155  16.215231      Kiwi 2020-01-01
 198      4030       114   2.692742   4.955207      Kiwi 2020-01-01

 [199 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4081       169   2.282041  10.463737  Eggplant 2020-01-01
 1        4081       175   1.985868   2.824246  Eggplant 2020-01-01
 2        4081       220   1.815470   3.391851  Eggplant 2020-01-01
 3        4081       228   2.410847   3.973411  Eggplant 2020-01-01
 4        4081       224   3.037348  21.615365  Eggplant 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 152      4650       293   2.015190  16.987739  Mushroom 2020-01-01
 153      4796       116   3.018908  15.639603    Tomato 2020-01-01
 154      4796       402   1.896862   3.546172    Tomato 2020-01-01
 155      4796       500   1.081850   6.614320    Tomato 2020-01-01
 156      4796       327   2.743515   8.125357    Tomato 2020-01-01

 [157 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb  product       date
 0        3302       151   2.890439  21.714490  Apricot 2020-01-01
 1        3302       431   0.677345  14.168629  Apricot 2020-01-01
 2        3302       375   1.353055   7.194292  Apricot 2020-01-01
 3        3302       448   2.738255   2.953589  Apricot 2020-01-01
 4        3302       354   2.766406   3.464577  Apricot 2020-01-01
 ..        ...       ...        ...        ...      ...        ...
 166      4412       149   1.188272  19.052348     Pear 2020-01-01
 167      4030       340   1.221889  15.689200     Kiwi 2020-01-01
 168      4030       269   2.849714   8.402328     Kiwi 2020-01-01
 169      4030       345   3.059953  14.741492     Kiwi 2020-01-01
 170      4030       283   3.263552  19.472213     Kiwi 2020-01-01

 [171 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4030       345   2.467892   4.172738      Kiwi 2020-01-01
 1        4030       491   1.480109   9.758897      Kiwi 2020-01-01
 2        4030       417   2.168625  18.028852      Kiwi 2020-01-01
 3        4030       353   1.883643  18.126898      Kiwi 2020-01-01
 4        4030       106   0.717679  20.373272      Kiwi 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 143      4081       458   1.859871  19.125633  Eggplant 2020-01-01
 144      4081       249   2.993590  16.923925  Eggplant 2020-01-01
 145      4081       429   2.432568  12.533606  Eggplant 2020-01-01
 146      4081       207   0.954799   6.342192  Eggplant 2020-01-01
 147      4081       323   2.647852   7.685610  Eggplant 2020-01-01

 [148 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb product       date
 0        4159       124   1.008171  19.673902   Onion 2020-01-01
 1        4159       222   2.964130   4.773217   Onion 2020-01-01
 2        4159       423   1.294802  20.132638   Onion 2020-01-01
 3        4404       235   1.569633  15.691165   Peach 2020-01-01
 4        4404       487   2.517169  18.687682   Peach 2020-01-01
 ..        ...       ...        ...        ...     ...        ...
 135      4272       470   1.472400  16.385746  Grapes 2020-01-01
 136      4272       145   1.560599  18.295130  Grapes 2020-01-01
 137      4272       375   3.033002   8.460521  Grapes 2020-01-01
 138      4958       481   2.018916  11.571539   Lemon 2020-01-01
 139      4958       440   2.314251   4.608503   Lemon 2020-01-01

 [140 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb       product       date
 0        4272       115   0.781201   2.201025        Grapes 2020-01-01
 1        4272       312   1.022296  18.378010        Grapes 2020-01-01
 2        4272       451   1.638534  15.146875        Grapes 2020-01-01
 3        4272       446   1.505215   4.864280        Grapes 2020-01-01
 4        4272       236   1.745244  16.531536        Grapes 2020-01-01
 ..        ...       ...        ...        ...           ...        ...
 192      4134       282   0.625226   2.898643  Apple (Gala) 2020-01-01
 193      4134       460   1.344082   7.824989  Apple (Gala) 2020-01-01
 194      4134       123   1.555704   2.845138  Apple (Gala) 2020-01-01
 195      4134       107   2.695226  20.636467  Apple (Gala) 2020-01-01
 196      4134       428   0.880075  12.620538  Apple (Gala) 2020-01-01

 [197 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb product       date
 0        4412       288   0.733062   5.408120    Pear 2020-01-01
 1        4412       270   1.650890   4.611842    Pear 2020-01-01
 2        4412       342   3.125553   3.569897    Pear 2020-01-01
 3        4412       154   1.328831   4.317601    Pear 2020-01-01
 4        4412       299   1.950854  11.946716    Pear 2020-01-01
 ..        ...       ...        ...        ...     ...        ...
 121      4958       356   0.688901   5.668480   Lemon 2020-01-01
 122      4958       328   2.143060  13.948509   Lemon 2020-01-01
 123      4030       366   2.758031  13.860500    Kiwi 2020-01-01
 124      4030       172   1.961598  10.034243    Kiwi 2020-01-01
 125      4030       450   2.785652  17.294055    Kiwi 2020-01-01

 [126 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4225       121   1.321429  21.207317   Avocado 2020-01-01
 1        4225       164   2.776709  17.974300   Avocado 2020-01-01
 2        4225       120   1.665817  10.835232   Avocado 2020-01-01
 3        4225       455   1.571825  17.214646   Avocado 2020-01-01
 4        4225       418   1.634974   2.765967   Avocado 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 132      4062       404   1.486384  13.197261  Cucumber 2020-01-01
 133      3302       348   2.376736   3.499581   Apricot 2020-01-01
 134      3302       211   0.619958   6.331263   Apricot 2020-01-01
 135      3302       423   0.910686   6.511946   Apricot 2020-01-01
 136      3302       261   1.721780  13.018451   Apricot 2020-01-01

 [137 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb   product       date
 0        4309       393   1.291615   9.118685    Lychee 2020-01-01
 1        4309       207   2.711885   7.037210    Lychee 2020-01-01
 2        4309       146   2.796961   4.376658    Lychee 2020-01-01
 3        4309       397   1.510900   6.873303    Lychee 2020-01-01
 4        4078       126   1.224955  13.665735      Corn 2020-01-01
 ..        ...       ...        ...        ...       ...        ...
 155      4062       444   0.699452  16.122833  Cucumber 2020-01-01
 156      4062       447   1.151899  16.909646  Cucumber 2020-01-01
 157      4011       476   2.054348  20.685966    Banana 2020-01-01
 158      4011       341   1.696970   2.722338    Banana 2020-01-01
 159      4011       262   2.787885   9.513389    Banana 2020-01-01

 [160 rows x 6 columns],
      prodcode  quantity  price_usd  weight_lb      product       date
 0        4012       183   3.040971  20.198989       Orange 2020-01-01
 1        4012       473   3.063975   4.354541       Orange 2020-01-01

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [18]:
january_data = pd.concat(january_data)

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [16]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [20]:
# Loop through city_dict and carry out Step 6 here.


for city_name, city_file in city_dict.items():
    filepath = '/Users/varunganti/Documents/DSI10/2.02-lab-excel-madness/'
    city_df_array = [process_data(filepath + 'data/' 
                            + file, city_name, 'Jan 1 2020') for file in files]
    
    for city_df in city_df_array:
        city_df['city'] = city_name
        city_df = city_df.loc[:, ['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]
        
    city_df_concat = pd.concat(city_df_array)
    city_df_concat.to_csv(filepath+ 'output/' + city_file)
    
    
    
# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).